<!-- Welcome -->
<h1>JourneyMapp&trade;</h1>
<div class="well">
<p>JourneyMapp&trade; is a simple tool for mapping a person's journey through an experience.</p>
<p>That journey could be with a trip, a brand, a program, an employer . . . anything.</p>
<p>This app builds on the work presented in the book <i><a href="http://designingforgrowthbook.com/">Designing for Growth</a>: a design thinking toolkit for managers</i> by Jeanne Liedtka and Tim Ogilvie.</p>
</div>
<div class="row-fluid">
<div class="span6">
    
	<div id="login">
   <p><button ng-click="login();">Login</button></p>
 </div>
 <!--<div id="logout">
   <p><button  ng-click="FB.logout();">Logout</button></p>
 </div>
-->
 <script>

 </script>
           <!-- <button class="btn btn-primary" ng-click="registerWithFacebook()">Log on with Facebook</button>-->
    
</div>
<div class="span6">
</div>
</div>
<div class="row-fluid">
<div class="span6"><h3>3 Simple Steps</h3></div>
</div>
<div class="row-fluid">
<div class="span4">Step 1: <a href="#/journey">Define the Journey</a></div>
<div class="span4">Step 2: Record Experiences</div>
<div class="span4">Step 3: Upload photos or videos of the experience</div>
</div>